<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Admin dashboard</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/Home}">TransitEase bus booking</a>
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                th:href="@{/logout}"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row heading">
        <h2>List of Registered Users</h2>
      </div>
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
