.page-container {
    display: flex;
    height: 100vh;
    margin-top: 3rem;
}

.travel-banner {
    background: url(/images/hobi-industri-C-zgN_LEKb8-unsplash.jpg);
    background-size: cover;
    color: #fff;
    flex: 2 1 0;
    text-align: end;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
}

.travel-banner p {
    font-size: 1.5rem;
    color: #dad6d6;
}

.travel-banner>* {
    margin-right: 0.5rem;
}

.travel-banner h1 {
    font-size: 4rem;
}

.travel-info-input {
    flex: 1 1 0;
}

.page-fx {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.travel-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f1a501;
    border-radius: 1rem;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 20rem;
    width: 45rem;
}

.travel-info-input {
    background-size: cover;
}

.travel-inpt input {
    margin-top: 0.5rem;
    border: none;
    padding: 0.8rem;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
}

.page-fx-2 {
    display: flex;
    justify-content: space-evenly;
}

.page-fx-2 button {
    background-color: #f5a522;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.checkout-routes-btn button {
    background-color: #ff6260;
    color: #fff;
    padding: 0.8rem;
}

@media (max-width: 918px) {
    .travel-info {
        width: 38rem;
    }
}

@media (max-width: 790px) {
    .travel-info {
        width: 30rem;
    }
}

@media (max-width: 620px) {
    .travel-info {
        width: 25rem;
    }

    nav {
        position: absolute;
        left: -100%;
    }
}

@media (max-width: 516px) {
    .travel-info {
        width: 20rem;
    }
}

@media (max-width: 500px) {
    body {
        background: url(/images/hobi-industri-C-zgN_LEKb8-unsplash.jpg);
        background-size: cover;
    }

    .travel-banner {
        background: none;
        text-align: center;
    }

    .page-container {
        flex-direction: column;
    }

    .travel-info-input {
        display: none;
    }

    .travel-info {
        position: absolute;
        background-color: #f1a501;
        border-radius: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30rem;
    }

    .travel-info form {
        display: flex;
        flex-direction: column;
        height: 25rem;
    }

    .travel-dates {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: 1rem 1rem;
    }

    .travel-dates>* {
        margin: 0.5rem 0;
        height: 2.2rem;
        font-size: 1.1rem;
    }

    .travel-inpt input {
        height: 2.2rem;
    }

    .checkout-routes-btn button {
        height: 3rem;
        font-size: 1.3rem;
    }
}