* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-image: url(/Assets/images/juan-encalada-6mcVaoGNz1w-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
button:nth-child(1) {
    width: 40%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #f1a501;
    color: #fff;
    font-size: large;
    transition: transform 0.3s ease-in-out;
    padding: 0.3rem;
}
button:nth-child(1):hover {
    background-color: #da9501;
}
.parent-container {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.login-heading {
    text-align: center;
}
.login-heading h1 {
    text-align: center;
    margin: 1rem;
}
.login-container {
    width: 85%;
    background-color: #e2dcf7;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1rem;
}
.login-opacity-true {
    opacity: 0.9;
}
.login-form { 
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.login-form input {
    margin: 0.6rem;
    padding: 0.5rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    border-bottom: 1px solid #f1a501;
    outline: none;
    font-size: large;
}
input:focus {
    height: 2.5rem;
    border: 1.5px solid #f1a501;
}
.login-form label {
    color: #000;
    text-align: center;
}
.login-submit-btn {
    margin-top: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
}
.login-sign-up p {
    text-align: center;
    margin: 1rem;
}
.login-sign-up p a {
    text-decoration: none;
}

@media (min-width: 750px){
    .login-container {
        height: 60%;
        justify-content: space-evenly;
    }
}
@media (max-width: 700px) {
    .js-nav-load {
        display: none;
    }
}

@media (max-width: 385px){
    .login-container {
        padding: 0.5rem;
    }
    body {
        height: 100vh;
    }
    .login-container {
        margin-top: 2rem;
    }
}
@media (max-width: 310px){
    .nav-links>img {
        position: absolute;
        left: 0.5rem;
    }
}