:root {
    --1st: #212832;
}
main {
    width: 90%;
    margin: auto;
}
header {
    background-image: url(/images/Decore.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.main {
    display: flex;
}
.banner-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    padding: 2rem;
}
.banner-details {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5E6282;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
}
.banner-heading {
    color: #DF6951;
    font-size: 1.25rem;
    font-family: Poppins;
    font-weight: 700;
}
.banner-content h1 {
    color: var(--1st, #181E4B);
    font-size: 5.25rem;
    font-family: Volkhov;
    font-weight: 700;
    line-height: 5.5625rem;
    letter-spacing: -0.21rem;
    margin: 0;
}

.banner-buttons .orange-btn {
    padding: 1rem;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    background: #F1A501;
    color: #fff;
    font-size: 1.125rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-top: 1rem;
}

main {
    width: 90%;
    margin: auto;
}
.services {
    width: 16.6875rem;
    height: 19.625rem;
    border-radius: 2.25rem;
    background: var(--white, #FFF);
    box-shadow: 
    0px 1.85px 3.15px 0px rgba(0, 0, 0, 0),
    0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.01),
    0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.services img {
    width: 5.75rem;
    height: 4.875rem;
    flex-shrink: 0;
}
.services h1 {
    color: var(--text-heading-color, #1E1D4C);
    text-align: center;
    font-size: 1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.services p {
    color: var(--textclr, #5E6282);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
}
.category-services-headers {
    text-align: center;
    margin: 4rem auto;
}
.category-services-headers p {
    color: var(--textclr, #5E6282);
    font-size: 1.125rem;
    font-weight: 600;
}
.category-services-headers h1 {
    color: var(--3rd, #14183E);
    font-size: 3.125rem;
    font-weight: 700;
    line-height: normal;
}
.category-services {
    display: flex;
    gap: 2rem;
}


.top-destinations {
    display: flex;
    background-image: url(/images/Decore\ 2.png);
    background-repeat: no-repeat;
    background-position: right;
}
.destination {
    color: var(--textclr, #5E6282);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 124.5%;
    border-radius: 1.5rem;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    margin-left: 2rem;
}
.destination-name{
    width: 70%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}
.navigation {
    display: flex;
    width: 70%;
    margin: 1rem auto;
    justify-content: flex-start;
}
.navigation img {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}


.booking-info {
    display: flex;
    margin-top: 5rem;
}
.booking-info-item-1 {
    display: flex;
    flex-direction: column;
}
.booking-heading {
    color: var(--3rd, #14183E);
    font-size: 2.125rem;
    font-family: Volkhov;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0;
}
.booking-img img {
    width: 2.9375rem;
    height: 3rem;
    flex-shrink: 0;
    margin-right: 1.5rem;
}
.booking-par {
    color: var(--textclr, #5E6282);
    font-style: normal;
    font-weight: 600;
}
.booking-details {
    display: flex;
    padding: 1.5rem;
}
.booking-details-par h1,p {
    color: var(--textclr, #5E6282);
    font-size: 1rem;
    font-weight: 700;
    line-height: 124.5%;
}
.booking-details-par p {
    font-style: normal;
    font-weight: 400;
}
.booking-info-item-2 {
    /* width: 23.125rem;*/
    margin-top: 5rem;
    height: 25rem;
    flex-shrink: 0;
    border-radius: 1.625rem;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    padding: 5px;
}

.booking-info-item-2 h1 {
    color: var(--black, #080809);
    font-size: 1.125rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    line-height: 124.5%;
    letter-spacing: 0.01688rem;
}
.booking-info-icons img {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    padding: 1rem;
    background-image: url(/icons/Ellipse\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.booking-info-icons {
    margin: 1rem 0;
}
/*new page*/
.testimonials {
    display: flex;
    /* display: grid;
    grid-template-columns: 45rem 25rem; */
}
.testimonials-details {
    color: var(--3rd, #14183E);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.125rem;
    font-weight: 700;
    text-transform: capitalize;
    flex: 2 0 0;
    margin: 5rem 0;
}
.testimonials-content {
    border-radius: 0.625rem;
    background: var(--white, #FFF);
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    color: var(--textclr, #5E6282);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem;
    margin-right: 1rem;
}
.testimonials-content h2 {
    margin-top: 2rem;
    color: #181E4B;
}
.partners-heading {
    font-size: 2rem;
    color: #14183E;
    margin-top: 2.5rem;
    text-align: center;
}
.partners-logos {
    display: flex;
    justify-content: space-evenly;
}
.partners-logos img {
    width: 8.125rem;
    height: 8.125rem;
}

.feedback {
    /* width: 73.125rem;
    height: 25.4375rem; */
    flex-shrink: 0;
    border-radius: 2rem;
    border-top-left-radius: 8.0625rem;
    background: var(--light-color, #e2dcf7);
    padding: 1rem;
}
.feedback-heading p {
    color: var(--textclr, #5E6282);
    text-align: center;
    font-size: 2.0625rem;
    font-weight: 600;
    line-height: 3.375rem;
    padding: 1rem;
}
.feedback-form {
    text-align: center;
    margin-top: 3rem;
}
.submit-btn {
    display: flex;
    justify-content: center;
}
textarea {
    /* height: 150px; */
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 1.5rem;
    background-color: #f8f8f8;
    outline: none;
    font-size: large;
    resize: none;
}
@media (max-width: 1048px) {
    textarea {
        width: 50rem;
    }
}
@media (max-width: 960px) {
    textarea {
        width: 40rem;
    }
}
@media (max-width: 788px) {
    textarea {
        width: 30rem;
    }
}
@media (max-width: 608px) {
    textarea {
        width: 20rem;
    }
}
@media (max-width: 436px) {
    .feedback {
        min-width: 30rem;
    }
}
@media (max-width: 840px) {
    .main {
        display: flex;
        flex-direction: column;
    }
    .banner-img {
        display: none;
    }
}
@media (max-width: 845px) {
    .category-services, .top-destinations, .booking-info, .testimonials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-destinations, .testimonials {
        gap: 1rem;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 700px) {
    .category-services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-content h1 {
        color: var(--1st, #181E4B);
        font-size: 4.25rem;
        font-weight: 700;
        line-height: 3.5625rem;
        letter-spacing: -0.21rem;
        margin: 0;
    }
}
@media (max-width: 550px) {
    header {
        background-image: none;
        background-color: #fff1da;
    }
}
.feedback-form button {
    width: 11.25rem;
    height: 3.25rem;
    border-radius: 0.625rem;
    background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
    color: var(--white, #FFF);
    text-align: center;
    font-family: sans-serif;
    font-size: 1.0625rem;
    font-weight: 600;
    display: block;
    opacity: 1;
}
.feedback-form button:hover {
    background: rgb(255, 121, 72);
    color: #fff;
}
footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    border-top: 1px solid #14183E;
}
footer .name-logo {
    color: var(--1st, #181E4B);
    font-family: Poppins;
    font-size: 2.75rem;
    font-weight: 500;
}
.ft-links ul img {
    height: 42px;
    width: 42px;
}
.ft-links ul li {
    padding: 0.5rem;
}

.links {
    display: flex;
    flex-direction: column;
}
.company-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.company-logo h3 {
    color: #080809;
}