* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
}

nav {
    display: flex;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--1st, #212832);
    font-size: 1.0625rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: #F1A501;
    border-bottom: 2px solid #F1A501;
}

.nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}

.nav-links {
    width: 100%;
    position: fixed;
    background-color: #fff1da;
    height: 2rem;
    padding: 0.5rem 0;
}