* {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: url(/Assets/images/juan-encalada-6mcVaoGNz1w-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
label,
h1 {
  text-align: center;
  color: #181e4b;
}
button {
  cursor: pointer;
  font-size: 1rem;
}

form input {
  margin: 0.6rem;
  padding: 0.5rem;
  /*height: 2rem;*/
  border: none;
  border-radius: 1rem;
  border-bottom: 0.5px solid #f1a501;
  outline: none;
  font-size: large;
  transition: ease-out 300ms;
  color: #1b1b1bbe;
}

form input:focus {
  border: 1.5px solid #f1a501;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
form .input-group {
  display: flex;
  flex-direction: column;
}
form .input-group,
.input-group-psw {
  margin: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
}
form .border-true {
  border: 1px solid #808080;
}
main .signup-heading {
  margin: 0.5rem;
}
.error-container {
  position: absolute;
}
.input-group-psw {
  display: flex;
  justify-content: center;
}
.input-group-btn,
.input-group-psw {
  grid-column: span 2;
}

.submit-btns {
  align-items: center;
}

.passwords {
  width: 70%;
}
.signup-container {
  width: 85%;
  background-color: #e2dcf7;
  margin: 4rem auto;
  border-radius: 1rem;
  opacity: 0.95;
}

.signup-container .signup-heading-par {
  padding: 0.5rem;
  text-align: center;
}

.signup-container button {
  width: 70%;
}
.signup-container .submit-btns-1 {
  background-color: #f1a501;
  color: #fff;
  margin-top: 0.5rem;
  border: none;
  height: 2rem;
  border-radius: 20px;
}

.signup-container .submit-btns-1:hover {
  background-color: #d49714;
}

.signup-container .submit-btns-2 {
  color: #000;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  border: 2px solid #000;
  height: 2rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
}

.signup-container .submit-btns-2:hover {
  background-color: #c6c6c6;
}
/*
*@responsive design
*/
@media (max-width: 700px) {
  form {
    display: flex;
    flex-direction: column;
  }
}
