<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Account profile</title>
    <link rel="stylesheet" href="/Styles/Shared_styles/shared_styles.css" />
    <link rel="stylesheet" href="/Styles/account_profile/my_profile.css" />
    <script
      src="/scripts/General scripts/generate_navigation.js"
      defer
    ></script>
  </head>
  <body>
    <header>
      <nav id="navigation-menu"></nav>
    </header>

    <div class="profile-picture">
      <figure class="img-cover">
        <img src="/Assets/images/icons8-male-user-100.png" alt="profile" />
        <figcaption class="username">
          <strong th:text="${name}"></strong>
        </figcaption>
      </figure>
    </div>

    <fieldset class="main-dashboard">
      <legend><strong>Passenger details:</strong></legend>
      <div class="dashboard-heading"></div>
      <div class="input-group">
        <label for="first-name">First name</label>
        <input
          id="first-name"
          type="text"
          th:value="${user.firstName}"
          disabled
        />
      </div>
      <div class="input-group">
        <label for="second-name">Second name</label>
        <input
          id="second-name"
          type="text"
          th:value="${user.lastName}"
          disabled
        />
      </div>
      <div class="js-edit-btn">
        <button id="edit-personal-details">edit info</button>
        <button id="save-personal-details">Save changes</button>
      </div>
    </fieldset>

    <fieldset class="main-dashboard">
      <legend><strong>Contact details:</strong></legend>
      <div class="input-group">
        <label for="email">Email</label>
        <input id="email" type="text" th:value="${user.email}" disabled />
      </div>
      <div class="input-group">
        <label for="phone number">Phone number</label>
        <input id="phone" type="text" value="0741862946" disabled />
      </div>
      <div class="js-edit-btn">
        <button id="edit-contact-details">edit info</button>
        <button id="save-contact-details">Save changes</button>
      </div>
    </fieldset>

    <fieldset class="main-dashboard">
      <legend><strong>Active bookings:</strong></legend>

      <!--If the user does not have any active bookings-->
      <div th:if="${#lists.isEmpty(bookings)}" class="input-group">
        <p>
          No current bookings. Visit our
          <a th:href="@{/Booking}"><strong>booking page</strong></a>
          to start traveling now!
        </p>
        <form th:action="@{/logout}" method="post" class="log-out-btn">
          <button type="submit">LOG OUT</button>
        </form>
      </div>

      <!--If the user has any active bookings-->
      <div th:unless="${#lists.isEmpty(bookings)}" class="input-group">
        <ul>
          <li th:each="booking : ${bookings}">
            <p
              th:utext="${booking.source + ' <strong>to</strong> ' + booking.destination + ' <strong>on</strong> ' + #dates.format(booking.date, 'yyyy-MM-dd')}"
            ></p>
          </li>
        </ul>
        <form th:action="@{/logout}" method="post" class="log-out-btn">
          <button type="submit">LOG OUT</button>
        </form>
      </div>
    </fieldset>

    <script src="/scripts/accountProfile/script.js"></script>
  </body>
</html>
