<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" th:href="@{/Styles/Homepage/home_styles.css}" />
    <link
    
      rel="stylesheet"
      th:href="@{/Styles/Shared_styles/shared_styles.css}"
    />
  </head>

  <body>
    <header>
      <nav id="navigation-menu"></nav>
      <!-- To be generated dynamically  -->

      <div class="main">
        <div class="banner-container">
          <div class="banner-heading">
            <h4>BEST DESTINATIONS AROUND THE WORLD</h4>
          </div>
          <div class="banner-content">
            <h1>Travel, enjoy</h1>
            <h1>and live a new</h1>
            <h1>and full life</h1>
          </div>
          <div class="banner-details">
            <p>
              TransitEase is a leading online ticket booking platform that
              simplifies travel arrangements and enhances the overall journey
              experience. With a user-friendly interface and comprehensive range
              of services, we connect travelers to a vast network of bus routes,
              making it effortless to search, book, and manage tickets. Our
              platform offers real-time information on schedules, seat
              availability, and pricing, ensuring customers can plan their trips
              with confidence. Committed to convenience and reliability.
            </p>
          </div>
          <div class="banner-buttons">
            <button type="button" title="find out more" class="orange-btn">
              Find out more
            </button>
          </div>
        </div>
        <div class="banner-img">
          <img src="/Assets/images/Traveller 1.png" alt="Traveller 1" />
        </div>
      </div>
    </header>

    <div class="category-services-headers">
      <p>CATEGORY</p>
      <h1>We Offer Best Services</h1>
    </div>

    <main>
      <div class="category-services">
        <div class="category-1 services">
          <img src="/Assets/icons/Group 48.svg" alt="calculated weather" />
          <h1>Comprehensive Bus Route Network</h1>
          <p>Built wicket longer admire do bartonvanity do on it</p>
        </div>
        <div class="category-2 services">
          <img src="/Assets/icons/Group 48.svg" alt="calculated weather" />
          <h1>Seamless Ticket Booking</h1>
          <p>Built wicket longer admire do bartonvanity do on it</p>
        </div>
        <div class="category-3 services">
          <img src="/Assets/icons/Group 48.svg" alt="calculated weather" />
          <h1>Convenient Travel Management</h1>
          <p>Built wicket longer admire do bartonvanity do on it</p>
        </div>
        <div class="category-4 services">
          <img src="/Assets/icons/Group 48.svg" alt="customizations" />
          <h1>Choose from your favourite buses</h1>
          <p>Built wicket longer admire do bartonvanity do on it</p>
        </div>
      </div>
      <div class="category-services-headers">
        <p>TOP SELLING</p>
        <h1>TOP DESTINATIONS</h1>
      </div>

      <div class="top-destinations">
        <!--To be generated dynamically-->
      </div>

      <div class="booking-info">
        <div class="booking-info-item-1">
          <div class="booking-par">
            <p>Easy and fast</p>
          </div>
          <div class="booking-heading">
            <h1>Book your next trip in 3 easy steps</h1>
          </div>
          <div class="booking-details">
            <div class="booking-img">
              <img src="/Assets/icons/Group 7.svg" alt="choose destination" />
            </div>
            <div class="booking-details-par">
              <h1>Choose destination</h1>
              <p>
                Visit our <a th:href="@{/Booking}">ticket booking page</a> and
                easily choose your destination and travelling date.
              </p>
            </div>
          </div>

          <div class="booking-details">
            <div class="booking-img">
              <img src="/Assets/icons/Group 12.svg" alt="choose destination" />
            </div>
            <div class="booking-details-par">
              <h1>Make payment</h1>
              <p>
                Enter your phone number and get a push notification on your
                phone to confirm payment
              </p>
            </div>
          </div>

          <div class="booking-details">
            <div class="booking-img">
              <img src="/Assets/icons/Group 11.svg" alt="choose destination" />
            </div>
            <div class="booking-details-par">
              <h1>Reach pick-up station on selected date</h1>
              <p>
                Arrive at the pickup station specified in your ticket, in time
                to catch your bus
              </p>
            </div>
          </div>
        </div>
        <div class="booking-info-item-2">
          <img src="/Assets/images/Rectangle 17.jpg" alt="girl raising hands" />
          <h1>Trips to remember</h1>
          <p>14-29 June to Kilifi</p>
          <div class="booking-info-icons">
            <img src="/Assets/icons/leaf 1.svg" alt="leaf" />
            <img src="/Assets/icons/map 1.svg" alt="map" />
            <img src="/Assets/icons/send 2.svg" alt="ecclipse" />
            <img src="/Assets/icons/building 1.svg" alt="building" />
          </div>
          <p>24 people going</p>
        </div>
      </div>

      <div class="testimonials-details">
        <p>TESTIMONIALS</p>
        <h1>What People Say About Us.</h1>
      </div>
      <div class="testimonials">
        <!-- To be generated dynamically  -->
      </div>

      <div class="partners">
        <div class="partners-heading">
          <h1>Our partners</h1>
        </div>
        <div class="partners-logos">
          <img th:src="@{/Assets/images/image 27.png}" alt="axon" />
          <img src="/Assets/images/image 28.png" alt="jetstar" />
          <img src="/Assets/images/image 29.png" alt="expedia" />
        </div>
      </div>
      <div class="ft-banner">
        <div class="ft-details">
          <h2 class="ft-banner-heading">Ready for travelling?</h2>
          <p>We're waiting for you</p>
        </div>
        <div class="container-img">
          <img
            src="/Assets/images/footer briefcase.png"
            alt="White background briefcase"
          />
        </div>
      </div>
    </main>
    <div class="hr-line"></div>
    <script
      th:src="@{/scripts/General scripts/generate_navigation.js}"
    ></script>
    <script th:src="@{/scripts/General scripts/generate_footer.js}"></script>
    <script th:src="@{/scripts/Homepage/script.js}"></script>
  </body>
</html>
