body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ol li {
  color: #3e586c;
  margin: 0.2rem 0 0 0.5rem;
  padding: 0.2rem;
  list-style-type: none;
}

legend {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
}

.js-nav-load {
  margin-bottom: 1rem;
}

.main-grid-wrap > * {
  width: 95%;
  border-radius: 1rem;
}

.main-grid-wrap {
  display: grid;
  margin-top: 3.2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  place-items: center;
  gap: 0.5rem;
}

.payment-info-details {
  background-color: #fff1da;
  grid-column: span 2;
  height: 100%;
}
.payment-info-details > * {
  margin: 1rem;
}
.trip-details,
.terms-and-conditions {
  text-align: center;
}
.trip-details p {
  padding: 0.5rem;
}

.trip-details span {
  color: #df6951;
  font-weight: 800;
}

.customer-details {
  display: flex;
  flex-direction: column;
}

.customer-details input {
  height: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  width: 50%;
  margin: 0.4rem;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
}

.payment-info-details h1 {
  text-align: center;
}

.booking-info-details {
  background-color: #dad9db;
}

.booking-info-details > * {
  margin: 1rem;
  padding: 1rem;
}
.payment-info-details > * {
  margin: 1rem;
}
.terms-and-conditions > * {
  padding: 1rem;
}
.checkout-details {
  background-color: #dad9db;
}

.checkout-details > :not(.checkout-button) {
  margin: 1rem;
  padding: 1rem;
}

.checkout-button {
  display: flex;
}

.checkout-button button {
  padding: 0.5rem;
  border-radius: 10px;
  background: #f1a501;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  margin: 0.5rem;
  font-size: 0.82rem;
}
.modal-form .link-button {
  border: 1.5px solid #f1a501;
  padding: 0.5rem;
}
.modal .ticket-modal-text {
  margin: 1rem;
}
button:hover {
  background-color: #feb310;
}

@media (max-width: 700px) {
  .main-grid-wrap {
    display: flex;
    flex-direction: column;
  }
}
