<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common/fragments :: head('Log in')}">
    <link rel="stylesheet" th:href="@{/Styles/LoginPage/login.css}" />
  </head>

  <body>
    <!--navigation links-->
    <nav th:replace="~{common/fragments :: navigation}"></nav>
    <!--form input elements-->
    <div class="parent-container">
      <div class="login-container login-opacity-true">
        <div class="login-heading">
          <h1 class="log-in-header">Welcome back, please log in to continue</h1>
        </div>
        <div th:if="${param.error}">
          <div class="alert alert-danger">Invalid Email or Password</div>
        </div>

			<div th:if="${param.logout}">
          <div class="alert alert-success">You have been logged out.</div>
        
		</div>
        

        <form
          th:action="@{/Login}"
          method="post"
          class="login-form"
          role="form"
        >
          <label for="username">Enter your email:</label>
          <input
            type="text"
            id="username"
            placeholder="Enter your Email"
            name="username"
            required
          />

          <label for="password">Enter your password:</label>
          <input
            type="password"
            placeholder="Enter your password"
            name="password"
            id="password"
            required
          />

          <div class="error-container">
            <p class="error-display" id="error-display"></p>
          </div>

          <div class="login-submit-btn">
            <button type="submit" title="log in">login</button>
          </div>
        </form>
        <div class="login-sign-up">
          <p>
            Not registered ?
            <a th:href="@{/register}">Register/Signup here</a>
          </p>
        </div>
      </div>
    </div>

    <div th:replace="~{common/fragments :: scripts}"></div>
    <script src="/scripts/logInPage/login.js"></script>
  </body>
</html>
