body {
  background-image: url("/Assets/images/Decore.png");
  background-repeat: no-repeat;
  background-position: right;
}
.page-container {
  display: flex;
  height: 100vh;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.travel-banner {
  text-align: center;
}

.travel-banner h1 {
  color: #fff;
  font-size: 4rem;
}

.travel-banner p {
  font-size: 1.5rem;
  color: #dcdbdb;
}

.page-fx {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.travel-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f1a501;
  border-radius: 1rem;
  height: 20rem;
  width: 45rem;
  padding: 0.5rem;
}

.travel-inpt input {
  margin-top: 0.5rem;
  border: none;
  padding: 0.8rem;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.suggestions-container {
  background-color: aliceblue;
  /* padding: 0.5rem; */
  width: 40%;
  display: none;
}

ul .suggestion-list {
  list-style: none;
  padding: 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

ul .suggestion-list:hover {
  background-color: hsl(1, 100%, 75%);
  border-radius: 1rem;
}

.suggestions-container-active {
  display: block;
  position: absolute;
  z-index: 9999;
  border-radius: 1rem;
  margin-top: 0.2rem;
}

.page-fx-2 {
  display: flex;
  justify-content: space-evenly;
}

.page-fx-2 button {
  background-color: #f5a522;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.checkout-routes-btn button {
  background-color: #ff6260;
  color: #fff;
  padding: 0.8rem;
}

@media (max-width: 918px) {
  .travel-info {
    width: 38rem;
  }
}

@media (max-width: 790px) {
  .travel-info {
    width: 30rem;
  }
}

@media (max-width: 620px) {
  .travel-info {
    width: 25rem;
  }
}

@media (max-width: 516px) {
  .travel-info {
    width: 20rem;
  }
}

@media (max-width: 500px) {
  .travel-banner {
    background: none;
    text-align: center;
  }

  .page-container {
    flex-direction: column;
  }

  .travel-info-input {
    display: none;
  }

  .travel-info {
    background-color: #f1a501;
    border-radius: 1rem;
    height: 100%;
  }

  .travel-info form {
    display: flex;
    flex-direction: column;
  }

  .travel-dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 1rem 1rem;
  }

  .travel-dates > * {
    margin: 0.5rem 0;
    height: 2.2rem;
    font-size: 1.1rem;
  }

  .travel-inpt input {
    height: 2.2rem;
  }

  .checkout-routes-btn button {
    height: 3rem;
    font-size: 1.3rem;
  }
}
