* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.travelling-info-banner {
  background-color: #ff6260;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-top: 3rem;
}

.destinations {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}

.travel-grp {
  color: #504530;
  margin: 0;
}

.travel-data {
  color: #212832;
  font-family: Ubuntu;
  font-size: 1.325rem;
  font-weight: 700;
}
.travel-data-wrap {
  display: flex;
  flex-direction: column;
}
/*.destinations p,
img {
    padding: 0 3rem;
}*/

.travel-info {
  background-color: #fff;
  color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-radius: 1rem;
  margin: 1rem;
  width: 75%;
  place-items: center;
}

.travel-info > * {
  padding: 0.5rem;
}

.travel-info p strong {
  color: #212832;
}

.travel-info p {
  color: gray;
  font-weight: bold;
}

.display-seats-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

table th {
  border-radius: 1rem;
}
table th,
.show-booking-information {
  background-color: #ebe5e5;
  color: #000;
  padding: 8px;
}

/* .display-seats-container {
    display: none;
} */
.updated-display-seats-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 3rem 0;
}

.show-booking-information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.show-booking-information p {
  color: #000;
  margin-top: 1rem;
}

.display-seats-container .seat-row-item table td:not(.no-border, .driver-seat) {
  height: 50px;
  background-color: #c2c1c4;
  /* padding: 5px; */
  /* margin: 10px; */
  width: 50px;
  cursor: pointer;
  text-align: center;
}

td,
.booked,
.vip {
  border-radius: 1rem;
}

.key-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vip {
  background-color: #ef9a9a;
  height: 50px;
  color: #fff;
}

.key-map div {
  border-radius: 1rem;
}

.booked {
  background-color: #f5a522;
  height: 50px;
}

.keys {
  height: 50px;
  width: 50px;
}

.vip-key {
  background-color: #ef9a9a;
}

.available-key {
  background-color: #c2c1c4;
}

.selected-seat-key {
  background-color: #ff0000;
}

.booked-key {
  background-color: #f5a522;
}

.check-out-btn-item {
  display: flex;
  justify-content: center;
  margin: 0 0 3rem 0;
}

.check-out-btn-item button {
  margin-top: 3rem;
  transition: 350ms;
  padding: 10px;
  border-radius: 1rem;
  background-color: #000;
  color: #fff;
}

.check-out-btn-item button:hover {
  background-color: hsl(0, 0%, 10%);
  color: #fff;
  box-shadow: 0.5px 0.5px 1px 1px #000000;
}

.no-border {
  background-color: #f6f4f0;
  border-radius: 0;
}

.selected {
  background-color: #ff0000;
  width: 50px;
  height: 50px;
  transition: 350ms;
  border-radius: 1rem;
}

@media (max-width: 889px) {
  .nav-data li a {
    padding: 0 1rem;
  }
}

@media (max-width: 731px) {
  .nav-data li a {
    padding: 0 0.5rem;
  }
}

/* @media (max-width: 600px) {
  .destinations {
    flex-direction: column;
    margin-bottom: 1rem;
  }
} */

@media (max-width: 620px) {
  .display-seats-container {
    width: 90%;
  }

  .keys {
    height: 25px;
    width: 25px;
  }

  .show-booking-information > * {
    padding: 0.7rem;
  }

  .check-out-btn-item button {
    width: 10rem;
    grid-column: span 2;
  }
}
@media (max-width: 500px) {
  .display-seats-container {
    width: 100%;
    margin: 5px;
  }
}
