* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.travelling-info-banner {
    background-color: #ff6260;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 0.5rem;
}
.destinations {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
}
.travel-grp {
    color: #504530;
    margin: 0;
}
#travel-date {
    color: #EEE;
    font-family: Ubuntu;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.destinations p, img {
    padding: 0 3rem;
}

.travel-info {
    background-color: #fff;
    color: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    grid-template-rows: repeat(4, 1fr);
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
}
.travel-info > * {
    padding: 0.5rem;
}
.travel-info h1 {
    color: #212832;
}
.travel-info p {
    color: gray;
    font-weight: bold;
}



.display-seats-container {
    display: flex;
    justify-content: center;
}
table th,.show-booking-information {
    background-color: #ebe5e5;
    color: #000;
    padding: 8px;
}
/* .display-seats-container {
    display: none;
} */
.updated-display-seats-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: 3rem 0;
}
.show-booking-information {
    border: 2px solid black;
    padding: 1rem 8rem 1rem 1rem;
}
.show-booking-information p {
    color: #000;
    margin-top: 1rem;
}
.display-seats-container .seat-row-item table td:not(.no-border, .driver-seat) {
    height: 50px;
    background-color: #c2c1c4;
    /* padding: 5px; */
    /* margin: 10px; */
    width: 50px;
    cursor: pointer;
    text-align: center;
}
td,.booked,.vip {
    border-radius: 1rem;
}
.key-map{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vip {
    background-color: #ef9a9a;
    height: 50px;
    color: #fff;
}
.key-map div {
    border-radius: 1rem;
}
.booked {
    background-color: #f5a522;
    height: 50px;
}
.select-seat-key div {
    margin-top: 0.5rem;
}
.keys {
    height: 50px;
    width: 50px;
}
.vip-key {
    background-color: #ef9a9a;
}
.available-key {
    background-color: #c2c1c4;
}
.selected-seat-key {
    background-color: #ff0000;
}
.booked-key {
    background-color: #f5a522;
}

.check-out-btn-item button {
    margin-top: 3rem;
    transition: 350ms;
    padding: 8px;
}
.check-out-btn-item button:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
.no-border {
    background-color: #f6f4f0;
    border-radius: 0;
}
/* .driver-seat {
    background-color: #000;
    color: #fff;
} */
.selected {
    background-color: #ff0000;
    width: 50px;
    height: 50px;
    transition: 350ms;
    border-radius: 1rem;
}