<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
    <link rel="stylesheet" href="/Styles/Shared_styles/shared_styles.css" />
    <link rel="stylesheet" href="/Styles/Destinations/styles.css" />
  </head>
  <body>
    <nav id="navigation-menu"></nav>

    <!--#########-->
    <!-- <div class="search-container">
      <input
        type="search"
        name="search-destinations"
        id="search-link"
        class="search"
        placeholder="Search destinations"
      />
    </div> -->

    <div class="main-banner">
      <div class="destinations-gallery">
        <div class="discounts pos-absolute">
          <div class="orange-border">
            <p class="colored-text">
              <span class="discount-focused">50</span>%OFF
            </p>
            <p>first week</p>
          </div>
        </div>

        <div class="wht-gallery-wrap border-true">
          <img
            src="/Assets/images/secret-travel-guide-hGWNhbQDrQE-unsplash-min.jpg"
            alt="img-1"
            class="img-1"
          />
        </div>
        <div class="wht-gallery-wrap border-true">
          <img
            src="/Assets/images/tops-3720049_1920-min.jpg"
            alt="img-2"
            class="img-2"
          />
        </div>
      </div>

      <div class="destinations-content">
        <div class="dest-conntent-text">
          <p>Its time to travel!</p>
          <h1>Plan your next</h1>
          <h1>Holiday Today!</h1>
        </div>
        <div class="packages border-true">
          <div class="orange-border">
            <h3>Travel packages</h3>
            <div class="colored-text div-hr"></div>
            <a href="#" class="bordered-link">See more</a>
          </div>
        </div>
        <div class="packages border-true">
          <div class="orange-border">
            <h3>Various destinations</h3>
            <div class="colored-text div-hr"></div>
            <a href="#" class="bordered-link">subscribe</a>
          </div>
        </div>
        <div class="packages border-true hidden">
          <div class="orange-border">
            <h3>Various destinations</h3>
            <div class="colored-text div-hr"></div>
            <a href="#" class="bordered-link">subscribe</a>
          </div>
        </div>
      </div>
    </div>

    <div class="destinations-gallery-grid">
      <div class="destinations">
        <div class="destination-card">
          <figure>
            <img
              src="/Assets/images/amani-nation-LTh5pGyvKAM-unsplash-min.jpg"
              alt=""
            />
          </figure>
          <div class="card-content">
            <h3>Nairobi</h3>
            <div class="colored-text div-hr"></div>
            <p>Up to 30% off for your first trip</p>
            <a href="#" class="bordered-link" style="text-align: center"
              >BOOK NOW</a
            >
          </div>
        </div>
      </div>
      <div class="destinations">
        <div class="destination-card">
          <figure>
            <img
              src="/Assets/images/tony-pham-jWECaopdAH8-unsplash-min.jpg"
              alt=""
            />
          </figure>
          <div class="card-content">
            <h3>Mombasa</h3>
            <div class="colored-text div-hr"></div>
            <p>Up to 20% off for your first trip</p>
            <a href="#" class="bordered-link" style="text-align: center"
              >BOOK NOW</a
            >
          </div>
        </div>
      </div>
      <div class="destinations">
        <div class="destination-card">
          <figure>
            <img
              src="/Assets/images/murad-swaleh-DoFg1DpifBM-unsplash-min.jpg"
              alt=""
            />
          </figure>
          <div class="card-content">
            <h3>Kisumu</h3>
            <div class="colored-text div-hr"></div>
            <p>Up to 20% off for your first trip</p>
            <a href="#" class="bordered-link" style="text-align: center"
              >BOOK NOW</a
            >
          </div>
        </div>
      </div>
      <div class="destinations">
        <!-- <div class="destination-card">
          <figure>
            <img
              src="/Assets/images/murad-swaleh-DoFg1DpifBM-unsplash-min.jpg"
              alt=""
            />
          </figure>
          <div class="card-content">
            <h3>Kisumu</h3>
            <div class="colored-text div-hr"></div>
            <p>Up to 20% off for your first trip</p>
            <a href="#" class="bordered-link" style="text-align: center"
              >BOOK NOW</a
            >
          </div>
        </div> -->
      </div>
    </div>

    <script src="/scripts/General scripts/generate_footer.js"></script>
    <script src="/scripts/General scripts/generate_navigation.js"></script>
  </body>
</html>
