<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" th:href="@{/Styles/LoginPage/login.css}" />
    <link
      rel="stylesheet"
      th:href="@{/Styles/Shared_styles/shared_styles.css}"
    />
  </head>

  <body>
    <!--navigation links-->
    <nav id="navigation-menu"></nav>
    <!--form input elements-->
    <div class="parent-container">
      <div class="login-container login-opacity-true">
        <div class="login-heading">
          <h1 class="log-in-header">Welcome back, please log in to continue</h1>
        </div>
        <div th:if="${param.error}">
          <div class="alert alert-danger">Invalid Email or Password</div>
        </div>
        <div th:if="${param.logout}">
          <div class="alert alert-success">You have been logged out.</div>
        </div>

        <form
          th:action="@{/Login}"
          method="post"
          class="login-form"
          role="form"
        >
          <label for="username">Enter your email:</label>
          <input
            type="text"
            id="username"
            placeholder="Enter your Email"
            name="username"
            required
          />

          <label for="password">Enter your password:</label>
          <input
            type="password"
            placeholder="Enter your password"
            name="password"
            id="password"
            required
          />

          <div class="error-container">
            <p class="error-display" id="error-display"></p>
          </div>

          <div class="login-submit-btn">
            <button type="submit" title="log in">login</button>
          </div>
        </form>
        <div class="login-sign-up">
          <p>
            Not registered ?
            <a th:href="@{/register}">Register/Signup here</a>
          </p>
        </div>
      </div>
    </div>

    <script
      th:src="@{/scripts/General scripts/generate_navigation.js}"
    ></script>
    <script src="/scripts/logInPage/login.js"></script>
  </body>
</html>
